* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #08080c;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 40px;
}

button {
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}
